[]Title from legendary runes do not work
[]crit dmg on rare rune

step 1: Victory screen; click anywhere
step 2: treasure box; click anywhere
step 3: item; click according to item
step 3.1: sell rune -> would you like to sell rune -> Yes
step 4: replay
step 4: buy energy -> shop -> recharge energy by stones -> yes